@media only screen and (max-width:1000px){
    .navlist{
        position: fixed;
        top: 0;
        right: -250px;
        flex-direction: column;
        height: 100vh;
        width: 250px;
        background-color: var(--theme);
        justify-content: center;
        align-items: center;
        transition: all 650ms;
    }

    .showNav{
        right: 0;
    }

    .menu{
        display: flex;
    }
    #join{
        background-image: url('../images/mob-blank.jpg');
    }
    #join div{
        width: 80vw;
    }


}